ion-content{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ion-grid{
    margin: 0;
    padding: 0;    
}
ion-row{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 90%;
    ion-col{
        margin: 0 auto;
        padding: 0;                                                           
        max-width: 90%;
        text-align: center;
    }
}
ion-item{
    margin: 0 auto;    
    max-width: 90%;
    text-align: center;    
}
span{
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
}
ion-img{
    margin: 0 auto;
    max-width: 513px;
    padding: 10px;
}
ion-label{
    text-align: center;
    margin-top: 0;    
}
ion-input{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    max-width: 90%;
    border: 1px solid black;
    border-radius: 10px;    
}
ion-button{
    cursor: pointer;
    margin: 0 auto;
    max-width: 75%;
    --border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.footer{
margin-top: 20px;   
    ion-label{
        font-size: 14px;
        a{
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
        }
    }
}