<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Novo Usuário</ion-title>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 text-center>Dados do Usuário</h2>
    <div class="datas">
        <ion-input placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        <ion-input placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
        <ion-input placeholder="nome" [(ngModel)]="userRegister.username"></ion-input>
        <ion-input placeholder="idioma" [(ngModel)]="userRegister.language"></ion-input>
    </div>
    <div class="botoes">
        <ion-button (click)="register()">Cadastrar</ion-button>
        <ion-button [routerLink]="['/login']">Voltar</ion-button>
    </div>
</ion-content>