<ion-header>
  <ion-toolbar *ngIf="currentUser != null" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat - Farol 2.0</ion-title>
    <span>{{ currentUser.email }}</span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let msg of messages">
      <ion-col col-9 [attr.offset-3]="msg.user != user ? '' : null" [attr.text-right]="msg.user != user ? '' : null"
        [ngClass]="msg.user === user ? 'logged' : 'other'">
        <p><strong>{{ msg.user }}</strong>: {{ msg.message }}</p>
        <p>{{ msg.date | date: "dd/MM/yyyy hh:mm:ss" }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item no-lines>
      <ion-input type="text" [(ngModel)]="message" placeholder="Digite aqui sua mensagem..."></ion-input>
      <ion-button item-end clear icon-only [disabled]="!message || !message.length" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>