<ion-content>
  <div class="ion-padding">
      <div class="logo">
          <div class="slogan">
              <ion-label>A luz para seu estudo!</ion-label>
          </div>          
      </div>  
      <div class="login"> 
        Usuário<ion-input type="text" id="user"></ion-input>
        Senha<ion-input type="text" id="pass"></ion-input>    
      </div>
      <div class="botao">
        <ion-button (click)="logar()">Logar</ion-button>
      </div>
      <div class="criarconta">
          <ion-label>Não tem conta?</ion-label>
      </div>
  </div>  
</ion-content>
